{
  "extends": [
    "next",
  ],
  "rules": {
    "no-console": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/indent": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [".ts", ".tsx", ".js", ".jsx"]
    }]
  }
}
